<a href="{{ path('helloWithName', {'name': 'Disy'}) }}">Hello Disy</a> -->
<a href="{{ path('helloWithName', {'name': 'Juju'}) }}">Hello Juju</a>
<a href="{{ path('helloWithName', {'name': 'Sepho'}) }}">Hello Sepho</a>
<a href="{{ path('helloWithName', {'name': 'Graxo'}) }}">Hello Graxo</a>
